<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2 d-flex justify-content-between align-items-center">
    <h5 class="m-0 pl-3">お問い合わせ一覧（新着順）</h5>
    <%= link_to "未確認のお問い合わせ一覧", admin_unanswered_inquiries_path, class: "btn btn-sm btn-light" %>
  </div>
  <hr>
</div>

<div class="container py-4">
  <div class="row row-cols-1" id="admin_inquiries">
    <%= render 'inquiries', inquiries: @inquiries %>
  </div>
  <div class="d-flex justify-content-center my-4" id="admin_inquiries_more_btn">
    <%= link_to_next_page @inquiries, 'さらに読み込む', class: "btn btn-info btn-sm", remote: true, params: { controller: 'admin/inquiries', action: 'index' } %>
  </div>
</div>