$("#admin_unanswered_inquiries").append('<%= j render 'inquiries', inquiries: @inquiries %>');

<% if @inquiries.next_page %>
  $("#admin_unanswered_inquiries_more_btn").html('<%= j link_to_next_page @inquiries, "さらに読み込む", class: "btn btn-info btn-sm", remote: true %>');
<% else %>
  $("#admin_unanswered_inquiries_more_btn").remove();
  $("#admin_unanswered_inquiries").append('<div class="my-4 d-flex justify-content-center text-muted" style="font-size: 12px;">最下部です</div>')
<% end %>