<div style="position: sticky; top: 0; background-color: white; z-index: 5;">
  <hr class="mt-0" style="border-color: #fff;">
    <strong>フォロー中</strong>
    <span><%= @user.name %></span>
  <hr>
</div>

<%= render 'public/users/users', users: @followings %>
