<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="d-flex justify-content-center align-items-center">
    <h5 class="m-0">メッセージルーム</h5>
  </div>
  <hr class="mb-0">
</div>

<div id="rooms">
  <%= render 'rooms', rooms: @rooms %>
</div>
<div class="d-flex justify-content-center my-4" id="more_rooms_btn">
  <%= link_to_next_page @rooms, 'さらに読み込む', class: "btn btn-info btn-sm", remote: true, params: { controller: 'public/rooms', action: 'index' } %>
</div>