<h1>
  <% if @room.user_1_id == current_user.id %>
    <%= User.find(@room.user_2_id).name %>
  <% else %>
    <%= User.find(@room.user_1_id).name %>
  <% end %>
さんとのメッセージルーム
</h1>

<div class="container px-5">
  <div class="row">
    <div class="col">
      <%= render 'public/messages/messages', messages: @messages %>
    </div>
  </div>
</div>

<div style="position: sticky; bottom: 0; background-color: white; z-index: 5;">
  <hr>
  <div class="py-2 px-5"">
    <%= render 'public/messages/form', room: @room, message: @message %>
  </div>
  <hr class="mb-0" style="border-color: #fff;">
</div>