<div>
  <% @room.users.each do |user| %>
    <%= user.name %>
  <% end %>
  さんとのメッセージルーム
</div>

<div class="container px-5">
  <div class="row">
    <div class="col">
      <%= render 'public/messages/messages', messages: @messages, room: @room %>
    </div>
  </div>
</div>

<div style="position: sticky; bottom: 0; background-color: white; z-index: 5;">
  <hr>
  <div class="py-2 px-5"">
    <%= render 'public/messages/form', room: @room, message: @message %>
  </div>
  <hr class="mb-0" style="border-color: #fff;">
</div>