<div>
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2">
    <h5>ユーザーと投稿の検索</h5>
    <%= render 'post_user_form' %>
  </div>
</div>

<div>
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2">
    <h5>DMルームの検索</h5>
    <%= render 'room_form' %>
  </div>
</div>