<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2">
    <%= render 'room_form' %>
  </div>
  <hr>
</div>

<div class="container">
  <% if @rooms.any? %>
    <%= render 'admin/rooms/rooms', rooms: @rooms %>
  <% else %>
    <p>共通で参加しているDMルームは見つかりませんでした。</p>
  <% end %>
</div>