<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="d-flex justify-content-center align-items-center">
    <h5 class="m-0">いいねしたユーザー</h5>
  </div>
  <hr class="mb-0">
</div>

<div>
  <%= render 'public/users/users', users: @users %>
</div>