<div class="mt-5">
  <h4>感情タグ編集</h4>
</div>

<%= form_with model: @emotion, url: admin_emotion_path(@emotion) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <%= f.text_field :name, placeholder: "#{@emotion.name}", class: "form-control"  %>
              </td>
              <td>
                <%= f.color_field :color, class: "form-control" %>
              </td>
              <td>
                <%= f.submit "確定", class: "btn btn-success form-control" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>