@use '~bootstrap/scss/bootstrap';





@media screen and (max-width:1024px) {
  .social i {
    color: green;
  }
}



@media screen and (max-width:768px) {
  .logo, .user-right-bar, .user-left-bar-content-name {
    display: none;
  }

  .user-left-bar-content {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-width:769px) {
  .user-left-bar-notification {
    display: none;
  }
}

@media screen and (max-width:425px) {
  body {
    background-color: blue;
  }
}