@use '~bootstrap/scss/bootstrap';


/* スマホ対応 */
@media (max-width: 480px) {
  body {
    background-color: red;
  }
}






@media screen and (max-width:1024px) {
  .social i {
    color: green;
  }
}



@media screen and (max-width:768px) {
  .social i {
    color: red;
  }
}



@media screen and (max-width:425px) {
  .social i {
    color: blue;
  }
}