<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="d-flex justify-content-center align-items-center">
    <h5 class="m-0"><%= l @inquiry.created_at, format: :default %> のお問い合わせ</h5>
  </div>
  <hr class="mb-0">
</div>

<div class="container p-5">
  <div class="row">
    <div class="card w-100">
      <div class="card-body">
        <div class="mx-3 d-flex justify-content-between">
          <%= I18n.t("enums.inquiry.genre.#{@inquiry.genre}") %>
          <% if @inquiry.user == current_user %>
            <%= link_to inquiry_path(@inquiry), method: :delete, data: { confirm: '本当に削除しますか？'} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </div>
        <hr>
        <%= @inquiry.body %>
      </div>
    </div>
  </div>
</div>