<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <h6 class="py-2 d-flex justify-content-center">いいねした投稿：<%= current_user.favorited_posts.count %> 件</h6>
  <hr>
</div>

<div class="container py-0">
  <div class="row">
    <div class="container py-4">
      <div class="row row-cols-1">
        <%= render 'public/posts/posts', posts: current_user.favorited_posts %>
      </div>
    </div>
  </div>
</div>