<div class="pt-4">
  <%= render 'user_page', user: @user, favorited_posts: @favorited_posts %>
</div>

いいねした投稿の一覧
<div>
  <div class="container py-4">
    <div class="row row-cols-1">
      <%= render 'public/posts/posts', posts: @user.favorited_posts %>
    </div>
  </div>
</div>