<div class="container px-0">
  <div class="row" style="height: 10vh;">
    <p>管理者ログイン中</p>
  </div>
  <div class="row" style="height: 60vh;">問い合わせ表示欄</div>
  <div class="row">
    <span style="color: #bdbdbd; font-size: 12px;">Copyright © hogehoge All Rights Reserved.</span>
  </div>
</div>