<div class="container px-0">
  <div class="row" style="height: 10vh;">
    <%= link_to "マイページ", my_page_path %>
  </div>
  <div class="row" style="height: 60vh;">通知</div>
  <div class="row">
    <span style="color: #bdbdbd; font-size: 0.7rem;">Copyright © hogehoge All Rights Reserved.</span>
  </div>
</div>